:root {
    --dark: black;
    --light:white;
    --highlight: rgb(161 19 19);

    --small-space: 2vw;
    --big-space: 6vw;

    font-family: sans-serif;
    color: var(--secondary);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: var(--light);
}

h1, h3, h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;

    color: var(--highlight);
}

h1 {
    font-size: 5rem;
    padding: 1.7rem 0%;
}

h3 {
    font-size: 3rem;
    padding: 1rem 0%;
}

h5 {
    font-size: 1.5rem;
    padding: 0.5rem 0%;
}

a {
    color: inherit;
}

span, a, p, li {
    font-size: 1.5rem;
}


nav {
    padding: 0vw var(--small-space);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    text-align: right;

}

nav img {
    width: 5vw;
}

nav div > * {
    padding: 1vw;
    display: inline-block;
}

header {
    padding: var(--small-space);
    background-color: var(--santa-fe);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

#intro {
    padding: var(--small-space);
    width: 30vw;
    color: var(--green);
}

header img {
    margin: var(--small-space);
    box-shadow: 0vh 0vw 100px -40px rgb(0 0 0);
    width: 30vw;
}

article {
    padding: var(--big-space);
}

article > * {
    margin: var(--small-space);
}

footer p {
    margin: var(--small-space);
    text-align: center;
    font-size: 0.75rem;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 3.5rem;
        padding: 1.2rem 0%;
    }
    
    h3 {
        font-size: 1.5rem;
        padding: 0.5rem 0%;
    }
    
    h5 {
        font-size: 1rem;
        padding: 0.3rem 0%;
    }
    
    a {
        color: inherit;
    }
    
    span, a, p, li {
        font-size: 1rem;
    }

    footer p {
        margin: var(--small-space);
        text-align: center;
        font-size: 0.5rem;
    }
}