:root {
    --silk: rgb(191, 174, 173);
    --wafer: rgb(224, 211, 202);
    --green: rgb(30, 60, 45);
    --santa-fe: rgb(197 163 144);

    --small-space: 2vw;
    --big-space: 6vw;

    font-family: sans-serif;
    color: var(--secondary);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: var(--grey);
}

h1, h3, h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;

    color: var(--green);
}

h1 {
    font-size: 5rem;
    padding-bottom: 2rem;
}

h3 {
    font-size: 3rem;
    padding-bottom: 1rem;
}

h5 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

a {
    color: inherit;
}

span, a, p, li {
    color: black;
    font-size: 1.5rem;
}

body {
    background-color: var(--wafer);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    text-align: right;
    background-color: var(--wafer);

}

nav img {
    width: 5vw;
}

nav div > * {
    padding: 1vw;
    display: inline-block;
    
}

header {
    padding: var(--big-space);

    background-image: url(../media/study.jpg);

     /* Set a specific height */
    min-height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#intro {
    padding: var(--big-space);
    width: 50vw;
    color: var(--green);
    background-color: var(--wafer);
    box-shadow: 0px 0px 100px 10px black;
    border-radius: 20px;

    position: relative;
    left: 50%;
    top: 5vh;
    transform: translateX(-50%);
}

article {
    padding-top: var(--small-space);
}

footer * {
    margin: 1vw;
    text-align: center;
    font-size: 0.75rem;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 3.5rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }
    
    h5 {
        font-size: 1rem;
    }
    
    a {
        color: inherit;
    }
    
    span, a, p, li {
        font-size: 1rem;
    }
}