:root {
    --silk: #BFAEAD;
    --wafer: #E0D3CA;
    --green: rgb(30, 60, 45);
    --santa-fe: #A97255;

    --small-space: 2vw;
    --big-space: 6vw;

    font-family: sans-serif;
    color: var(--secondary);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: var(--grey);
}

h1, h3, h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;

    color: var(--green);
}

h1 {
    font-size: 5rem;
    padding-bottom: 2rem;
}

h3 {
    font-size: 3rem;
    padding-bottom: 1rem;
}

h5 {
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

a {
    color: inherit;
}

span, a, p, li {
    color: black;
    font-size: 1rem;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 3.5rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }
    
    h5 {
        font-size: 1rem;
    }
    
    a {
        color: inherit;
    }
    
    span, a, p, li {
        font-size: 1rem;
    }
}