form{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}


form>*{
    display: block;
    margin: 1vw;
}

input, textarea{
    background-color: var(--light);
    border: 1px solid var(--dark);
}


label { 
    white-space: nowrap; 
}

input, textarea, label {
    font-size: 1.5rem;
}

#Submit{
    padding: var(--small-space);
    border: none;
    background-color: var(--dark);
    color: var(--light);
}

@media screen and (max-width: 800px) { 
    input, textarea, label {
        font-size: 1rem;
    }
}