

#csec, #cape {
    padding: var(--small-space) var(--big-space);
    margin: 0;
}

#csec>ul, #cape>ul {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    
}

#csec li , #cape li{
    list-style-type: none;
    padding: var(--small-space);
    margin: 0vh var(--small-space);

    
}

#resources {
    padding: var(--big-space) var(--big-space);
    color: white;
    background-color: var(--santa-fe);
}

@media screen and (max-width: 800px) {
    #intro {
        width:70vw;
    }

}