nav {
    text-align: right;
    background-color: var(--orange);

}

nav > * {
    padding: 1vw;
    display: inline-block;
    
}

header {
    padding: var(--big-space);

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

header > img {
    width: 50vw;
    z-index: 0;
}

#intro {
    padding: var(--small-space);
    width: 40vw;
    margin-right: -10vw;
    margin-top: 0vh;
    z-index: 1;


    color: var(--dark-blue);
    background-color: var(--orange);
}

@media screen and (max-width: 800px) {

    header > img {
        display: none;
    }

    #intro {
        padding: var(--small-space);
        width: 70vw;
        margin-right: 0vw;
        margin-top: 0vh;
    
        color: var(--dark-blue);
        background-color: rgba(255, 255, 255, 0);
    }
}

article {
    margin: var(--big-space);
}

#toc {
    margin: var(--big-space) 0vw;
    text-align: center;
    background-color: var(--orange);
    padding: var(--small-space);
}

#toc > div > * {
    margin: 1vw;
}

#csec, #cape {
    margin: var(--small-space) 0vw;

}

#csec>ul, #cape>ul {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

#csec li , #cape li{
    list-style-type: none;
    padding: var(--small-space);
    
}