#filter, #questions {
    display: flex;
    flex-wrap: wrap;
}

#filter > *, #questions > * {
    min-width: 42%;
}

#filter > * > input, #questions > *{
    margin: auto 2vw;
}

#no-questions {
    display: none;
}